/**
 * Stylesheet to globally override used frameworks
 */
@import url('https://fonts.googleapis.com/css?family=PT+Mono');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

textarea {
    resize: vertical;
}

header.page-header {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.page-header h1 {
    margin-top: 0;
}

.modal.static {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
}

table.table ul {
    margin-bottom: 0;
}

.table-cart .btn-link {
    padding: 0;
}

.person {
    /* font-family: 'Inconsolata'; */
    display: inline-block;
    padding: 10px 20px;
    max-height: 1000px;
    min-width: 700px;
    max-width: 1000px;
    margin: 10px;
    font-size: 16px;
    line-height: 18px;
    /* background-color: rgb(216, 216, 216); */
    border-radius: 25px;
}

.person h1 {
    display: block;
    font-size: 24px;
    margin-bottom: 0;
    font-weight: bold;
}

.person h2 {
    display: block;
    font-weight: 550;
    margin-top: 0;
    font-size: 18px;
}

.person img {
    float: left;
    margin: 5px;
    margin-right: 20px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
#odd.person img {
    float: right;
    margin-right: 5px;
    margin-left: 20px;
}

.committee {
    /* font-family: Inconsolata; */
}

.committee img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
}

.hero .logo {
    margin: 30px auto;
    max-width: 100%;
}

.fronttext {
    /* margin-top: 30px; */
    margin-bottom: 15px;
    text-align: justify;
    font-size: 125%;
    background-color: rgb(174, 241, 154);
    padding: 15px 0;
}

.fronttext h1{
    margin-top: 0;
}

/*
 * Shop
 */

.passe-partouts,
.shop-products {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -15px;
}

.passe-partouts > .passe-partout,
.shop-products > .product {
    display: flex;
    flex-direction: column;
    /*background: fuchsia;*/
    flex-basis: 100%;
    margin: 0 15px 30px 15px;
}

.activities > .activity {
    margin-bottom: 45px;
}

.passe-partouts > .passe-partout > .name,
.shop-products > .product > .name{
    margin-top: 0;
}

.passe-partouts > .passe-partout > *,
.shop-products > .product > * {
    flex: 0 0;
}

.passe-partouts > .passe-partout > .controls,
.shop-products > .product > .controls {
    display: flex;
    flex-direction: column-reverse;
    flex: 1 0;
    margin-top: 5px;
}

.activities > .activity > .price,
.passe-partouts > .passe-partout > .price,
.product-form > .product > .price,
.shop-products > .product > .price {
    font-size: 120%;
}

.activities > .activity > .controls > .status-success,
.passe-partouts > .passe-partout > .controls > .status-success{
    font-weight: bold;
    color: #c8102e;
}

.activities > .activity > .stock,
.passe-partouts > .passe-partout > .stock,
.product-form > .product > .stock,
.shop-products > .product > .stock {
    font-weight: bold;
    color: #459f45;
}

.activities > .activity > .stock.unavailable,
.activities > .activity > .deadline.unavailable,
.passe-partouts > .passe-partout > .stock.unavailable,
.passe-partouts > .passe-partout > .deadline.unavailable,
.product-form > .product > .stock.unavailable,
.product-form > .product > .deadline.unavailable,
.shop-products > .product > .stock.unavailable,
.shop-products > .product > .deadline.unavailable {
    color: #c8102e;
}

.activities > .activity > .description,
.passe-partouts > .passe-partout > .description,
.product-form > .product > .description {
    margin-top: 10px;
}
/*.shop-products > .product > .controls > a {
    display: block;
}*/

@media (min-width: 500px) {
    .passe-partouts > .passe-partout,
    .shop-products > .product {
        flex-basis: calc(50% - 60px);
    }
}

@media (min-width: 992px) {
    .shop-products > .product {
        flex-basis: calc(33.333333% - 90px);
    }
}


.modal .table th:first-child,
.modal .table td:first-child {
    padding-left: 15px;
}


.modal .table th:last-child,
.modal .table td:last-child {
    padding-right: 15px;
}
