<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Cover lustrum registration confirmation</title>
    <style>
    body {
        font: 13px/16px sans-serif;
    }
    </style>
</head>
<body>
    <p>
        Dear <?= $this->html($name) ?>,
    </p> 
    <p>
        Thank you for your registration. You've registered the following activities:
    </p>
    <ul>
        <?php foreach ($cart as $activity): ?>
            <li>
                <?= $this->html($activity['details']->kop) ?>
                &ndash;
                <?= $this->html(date_format(date_create($activity['details']->van), 'Y-m-d H:i')) ?>
            </li>
        <?php endforeach ?>
    </ul>
    <p>Your information:</p>
    <ul>
        <li>You are <?= $this->html($type) ?></li>
        <li>Name: <?= $this->html($name) ?></li>
        <li>Address: <?= $this->html($address) ?></li>
        <li>Postal code: <?= $this->html($postal_code) ?></li>
        <li>Place of residence: <?= $this->html($city) ?></li>
        <li>Email: <?= $this->html($email) ?></li>
        <li>Phone: <?= $this->html($phone) ?></li>
        <li>IBAN: <?= $this->html($iban) ?></li>
        <li>BIC: <?= $this->html($bic) ?></li>
        <li>Dietary restrictions: <?= $this->html($diet) ?></li>
        <li>You have read and accepted the terms and conditions.</li>
        <li>You allow Cover to deduct the costs from your bank account through SEPA direct debit.</li>
        <li>Remarks: </li>
    </ul>
    <?= $this->format_plain_text($remarks) ?>
    <hr>
    <?php if(!empty($url)): ?>
        <p>
            You can view and/or change your registration through <a href="<?= $this->attr(SERVER_NAME . '/activity/?token=' . $url ) ?>">this personal link</a>. You can also use this link to register for activities or purchase other products.
        </p>
    <?php else: ?>
        <p>
            You can view and/or change your registration at <a href="<?= $this->attr(SERVER_NAME . '/activity/' ) ?>">our website</a>, but you need to be logged in at the Cover website to do so.
        </p>
    <?php endif ?>
    <p>If you have any further questions, please contact us at lustrumcee@svcover.nl</p>
    <p>
        Kind regards,<br>
        The LustrumCee
    </p>
</body>
</html>
