<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="container container-narrow">
    <header class="page-header">
        <h1>Activities</h1>
        <div class="controls">
            <?php if (!empty(get_user())): ?>
                <a class="btn btn-default" href="registrations.php">Registrations</a>
            <?php endif ?>
        </div>
    </header>

    <form class="form activities" action="index.php?view=add" method="POST">
        <?php foreach ($activities as $activity): ?>
            <div class="activity">
                <h3 class="name"><?= $this->html($activity['details']->kop) ?></h3>
                
                <div class="calendar">
                    <i class="fa fa-calendar fa-fw"></i><span class="sr-only">Date & time</span>:
                    <?= $this->html(date_format(date_create($activity['details']->van), 'Y-m-d H:i')) ?>
                    <?php if ($activity['details']->van != $activity['details']->tot): ?>
                        &ndash; <?= $this->html(date_format(date_create($activity['details']->tot), 'Y-m-d H:i')) ?>
                    <?php endif ?>
                </div>
                
                <?php if ($activity['details']->locatie): ?>
                    <div class="location">
                        <i class="fa fa-map-marker fa-fw"></i><span class="sr-only">Location</span>:
                        <?= $this->html($activity['details']->locatie) ?>
                    </div>
                <?php endif ?>
                
                <div class="description"><?= $this->format_plain_text($activity['details']->beschrijving) ?></div>

                <?php if ($activity['price'] > 0): ?>
                    <div class="price">Price: € <?= $this->html(number_format($activity['price'],2)) ?></div>
                <?php endif ?>

                <?php if (is_numeric($activity['available_amount']) && $activity['available_amount'] - $activity['registrations'] > 0): ?>
                    <div class="stock"><?= $this->html($activity['available_amount'] - $activity['registrations']) ?> spots left</div>
                <?php elseif (is_numeric($activity['available_amount'])): ?>
                    <div class="stock unavailable">No spots left :(</div>
                <?php endif ?>

                <?php if (!empty($activity['deadline']) && (new DateTime()) < date_create_from_format('Y-m-d H:i:s', $activity['deadline']) ): ?>
                    <div class="deadline">Register before <?= date('Y-m-d H:i', strtotime($this->html($activity['deadline']))) ?></div>
                <?php elseif (!empty($activity['deadline'])): ?>
                    <div class="deadline unavailable">The registration deadline has lapsed :(</div>
                <?php endif ?>

                <div class="controls">
                    <?php if (!empty($user['passe_partout_id'])): ?>
                        <!-- For now, registration is exclusive to passe-partout owners -->
                        <?php if ($activity['needs_registration'] && !in_array($activity['id'], $registrations) && !is_sold_out($activity, 1, 'registrations') && !deadline_has_lapsed($activity)): ?>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="activity[]" value="<?= $this->attr($activity['id']) ?>">
                                    register
                                </label>
                            </div>
                        <?php elseif (in_array($activity['id'], $registrations)): ?>
                            <div class="status-success">You already registered for this activity</div>
                        <?php endif ?>
                    <?php endif ?>
                </div>
            </div>
        <?php endforeach ?>
        <?php if (empty($activities)): ?>
            <div class="text-muted text-center">No activities found :(</div>
        <?php endif ?>
        <?php if (!empty($user['passe_partout_id'])): ?>
            <!-- For now, registration is exclusive to passe-partout owners -->
            <div class="form-group">
                <button type="submit" class="btn btn-success" data-popup="modal">Register</button>
            </div>
        <?php endif ?>
    </form>
</div>
    
<div class="container container-narrow">
    <header class="page-header">
        <h1>Passe-partouts</h1>
    </header>

    <div class="passe-partouts">
        <?php foreach ($passe_partouts as $passe_partout): ?>
            <div class="passe-partout">
                <h3 class="name"><?= $this->html($passe_partout['name']) ?></h3>

                <div class="price">Price: € <?= $this->html(number_format($passe_partout['price'],2)) ?></div>

                <?php if (is_numeric($passe_partout['available_amount']) && $passe_partout['available_amount'] - $passe_partout['registrations'] > 0): ?>
                    <div class="stock"><?= $this->html($passe_partout['available_amount'] - $passe_partout['registrations']) ?> left</div>
                <?php elseif (is_numeric($passe_partout['available_amount'])): ?>
                    <div class="stock unavailable">No passe-partouts left :(</div>
                <?php endif ?>

                <div class="description"><?= $this->format_plain_text($passe_partout['description']) ?></div>

                <a href="/passe_partout/activities.php?id=<?= $this->attr($passe_partout['id']) ?>" data-popup="modal">Free activities</a>
                
                <div class="controls">
                <?php if (empty($user['passe_partout_id'])): ?>
                    <a href="/passe_partout/index.php?id=<?= $this->attr($passe_partout['id']) ?>" class="btn btn-success" data-popup="modal">Purchase</a>
                <?php elseif ($user['passe_partout_id'] == $passe_partout['id']): ?>
                    <div class="status-success">You own this passe-partout!</div>
                <?php endif ?>
                </div>
            </div>
        <?php endforeach ?>
    </div>
    <?php if (empty($passe_partouts)): ?>
        <div class="text-muted text-center">No passe-partouts found :(</div>
    <?php endif ?>
</div>
<?php $this->end() ?>
