<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="container">
    <header class="page-header">
        <h1>Activities</h1>
        <div class="controls">
            <a class="btn btn-default" href="registrations.php?mode=admin">Registrations</a>
            <a class="btn btn-primary" href="admin.php?view=create">Add</a>
        </div>
    </header>

    <div class="table-responsive"> 
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date & time</th>
                    <th>Price</th>
                    <th>Deadline</th>
                    <th>Available</th>
                    <th>Registrations</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($objects as $activity): ?>
                    <tr class="<?= $activity['active'] == 0 ? 'text-muted' : '' ?>">
                        <td><?= $this->html($activity['details']->kop) ?></td>
                        <td><?= $this->html(date_format(date_create($activity['details']->van), 'Y-m-d H:i')) ?></td>
                        <td>€ <?= $this->html(number_format($activity['price'],2)) ?></td>
                        <td><?= $this->html($activity['deadline']) ?></td>
                        <td>
                            <?php if (is_numeric($activity['available_amount'])): ?>
                                <?= $this->html($activity['available_amount'] - $activity['registrations']) ?>
                                /
                                <?= $this->html($activity['available_amount']) ?>
                            <?php else: ?>
                                unlimited
                            <?php endif ?>
                        </td>
                        <td><?= $this->html($activity['registrations']) ?></td>
                        <td class="text-right">
                            <ul class="list-inline">
                                <li>
                                    <a href="admin.php?view=update&id=<?= $activity['id'] ?>">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                <?php endforeach ?>
                <?php if (empty($objects)): ?>
                    <tr><td colspan="7" class="text-muted text-center">No activities found :(</td></tr>
                <?php endif ?>
            </tbody>
        </table>
    </div>
</div>
<?php $this->end() ?>
