<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="container container-narrow">
    <header class="page-header">
        <h1>Edit Activity</h1>
        <div class="controls">
            <a href="https://www.svcover.nl/agenda.php?view=update&agenda_id=<?= $this->attr($object['cover_id']) ?>" class="btn btn-default">Edit on Cover website</a>
        </div>
    </header>
    <div class="form-group">
        <label class="control-label">Name</label>
        <div>
          <p class="form-control-static"><?= $this->html($object['details']->kop) ?></p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Date & time</label>
        <div>
          <p class="form-control-static"><?= $this->html(date_format(date_create($object['details']->van), 'Y-m-d H:i')) ?></p>
        </div>
    </div>
    <?= $form->render() ?>
</div>
<?php $this->end() ?>
