<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="modal static" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="<?= $_SERVER['REQUEST_URI'] ?>" class="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        Ticket for <?= $this->html($object['details']->kop) ?>
                    </h4>
                </div>
                <table class="table">
                    <tbody>
                        <tr><th colspan="2" class="text-center"><h4>Participant</h4></th></tr>
                        <tr>
                            <th>Name</th>
                            <td><?= $this->html(get_user()['name']) ?></td>
                        </tr>
                        <tr>
                            <th>Passe-partout</th>
                            <td><?= $this->html(get_user()['passe_partout_name']) ?></td>
                        </tr>
                        <tr>
                            <th>Dietary restrictions</th>
                            <td><?= $this->html(get_user()['diet']) ?></td>
                        </tr>
                        <tr><th colspan="2" class="text-center"><h4>Activity</h4></th></tr>
                        <tr>
                            <th>Activity</th>
                            <td><?= $this->html($object['details']->kop) ?></td>
                        </tr>
                        <tr>
                            <th>Start</th>
                            <td><?= $this->html(date_format(date_create($object['details']->van), 'Y-m-d H:i')) ?></td>
                        </tr>
                        <?php if ($object['details']->van != $object['details']->tot): ?>
                            <tr>
                                <th>End</th>
                                <td><?= $this->html(date_format(date_create($object['details']->tot), 'Y-m-d H:i')) ?></td>
                            </tr>
                        <?php endif ?>
                        <?php if ($object['details']->van != $object['details']->tot): ?>
                            <tr>
                                <th>Location</th>
                                <td><?= $this->html($object['details']->locatie) ?></td>
                            </tr>
                        <?php endif ?>
                    </tbody>
                </table>
                <div class="modal-footer">
                    <a href="index.php" class="btn btn-default" data-dismiss="modal">Close</a>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<?php $this->end() ?>
