<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="container">
    <header class="page-header">
        <h1>Registrations</h1>
    </header>

    <div class="table-responsive"> 
        <table class="table table-hover">
            <thead>
                <tr>
                    <?php if ($mode === 'admin'): ?>
                        <th>User</th>
                    <?php endif ?>
                    <th>Activity</th>
                    <th>Registration date & time</th>
                    <th>Remarks</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($objects as $registration): ?>
                    <tr>
                        <?php if ($mode === 'admin'): ?>
                            <td><?= $this->html($registration['user_name']) ?></td>
                        <?php endif ?>
                        <td><?= $registration['details'] ? $this->html($registration['details']->kop) : 'Unknown activity name' ?></td>
                        <td><?= $this->html($registration['timestamp']) ?></td>
                        <td><?= $this->html($registration['remarks']) ?></td>
                        <td class="text-right">
                            <ul class="list-inline">
                                <?php if ($registration['status'] != 0 && $mode !== 'admin'): ?>
                                    <li>
                                        <a href="registrations.php?view=read&id=<?= $registration['id'] ?>"  data-popup="modal">ticket</a>
                                    </li>
                                <?php endif ?>
                                <?php /*if ($registration['status'] != 0  && ( empty($registration['product_deadline']) || (new DateTime()) < date_create_from_format('Y-m-d H:i:s', $registration['product_deadline']) ) ): ?>
                                    <li>
                                        <a href="registrations.php?view=cancel&id=<?= $registration['id'] ?>"  data-popup="modal">cancel</a>
                                    </li> */?>
                                <?php if ($registration['status'] == 0): ?>
                                    <li>
                                        <span class="label label-default">Cancelled</span>
                                    </li>
                                <?php endif ?>
                                <?php if ($mode === 'admin'): ?>
                                    </li>
                                        <a href="registrations.php?view=update&id=<?= $registration['id'] ?>">edit</a>
                                    </li>
                                <?php endif ?>
                            </ul>
                        </td>
                    </tr>
                <?php endforeach ?>
                <?php if (empty($objects)): ?>
                    <tr><td colspan="5" class="text-muted text-center">No registrations found :(</td></tr>
                <?php endif ?>
            </tbody>
        </table>
    </div>
</div>
<?php $this->end() ?>
