<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="container container-narrow">
    <header class="page-header">
        <h1>Edit registration</h1>
    </header>
    <div class="alert alert-warning" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong> This form doesn't check whether there are still places available available neither does it ask for user consent. Use it wisely!
    </div>
    <div class="form-group">
        <label class="control-label">Name</label>
        <div>
          <p class="form-control-static"><?= $this->html($object['user_name']) ?></p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Activity</label>
        <div>
          <p class="form-control-static"><?= $this->html($object['details']->kop) ?></p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Date & time</label>
        <div>
          <p class="form-control-static"><?= $this->html(date_format(date_create($object['details']->van), 'Y-m-d H:i')) ?></p>
        </div>
    </div>
    <?= $form->render() ?>
</div>
<?php $this->end() ?>
