<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="container container-narrow">
    <header class="page-header">
        <h1>Product</h1>
    </header>
    <?= $form->render() ?>
</div>
<?php $this->end() ?>
