<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="container">
    <header class="page-header">
        <h1>Shop: Products</h1>
        <div class="controls">
            <a class="btn btn-default" href="orders.php?mode=admin">Orders</a>
            <a class="btn btn-primary" href="admin.php?view=create">Add</a>
        </div>
    </header>

    <div class="table-responsive"> 
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Deadline</th>
                    <th>Available</th>
                    <th>Orders</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($objects as $product): ?>
                    <tr class="<?= $product['active'] == 0 ? 'text-muted' : '' ?>">
                        <td><?= $this->html($product['name']) ?></td>
                        <td>€ <?= $this->html(number_format($product['price'],2)) ?></td>
                        <td><?= $this->html($product['deadline']) ?></td>
                        <td>
                            <?php if (is_numeric($product['available_amount'])): ?>
                                <?= $this->html($product['available_amount'] - $product['orders']) ?>
                                /
                                <?= $this->html($product['available_amount']) ?>
                            <?php else: ?>
                                unlimited
                            <?php endif ?>
                        </td>
                        <td><?= $this->html($product['orders']) ?></td>
                        <td class="text-right">
                            <ul class="list-inline">
                                <li>
                                    <a href="admin.php?view=update&id=<?= $product['id'] ?>">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                <?php endforeach ?>
                <?php if (empty($objects)): ?>
                    <tr><td colspan="6" class="text-muted text-center">No products found :(</td></tr>
                <?php endif ?>
            </tbody>
        </table>
    </div>
</div>
<?php $this->end() ?>
