<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="container container-narrow">
    <header class="page-header">
        <h1>Edit purchase</h1>
    </header>
    <div class="alert alert-warning" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong> This form doesn't check whether you enter correct colours or sizes. It also doesn't check if the amount you enter is still available neither does it ask for user consent. Use it wisely!
    </div>
    <div class="form-group">
        <label class="control-label">Name</label>
        <div>
          <p class="form-control-static"><?= $this->html($object['user_name']) ?></p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Product</label>
        <div>
          <p class="form-control-static"><?= $this->html($object['product_name']) ?></p>
        </div>
    </div>
    <?= $form->render() ?>
</div>
<?php $this->end() ?>
