<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="container">
    <header class="page-header">
        <h1>Shop: Orders</h1>
    </header>

    <div class="table-responsive"> 
        <table class="table table-hover">
            <thead>
                <tr>
                    <?php if ($mode === 'admin'): ?>
                        <th>User</th>
                    <?php endif ?>
                    <th>Product</th>
                    <th>Order date & time</th>
                    <th>Amount</th>
                    <th>Size</th>
                    <th>Colour</th>
                    <th>Remarks</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($objects as $purchase): ?>
                    <tr>
                        <?php if ($mode === 'admin'): ?>
                            <td><?= $this->html($purchase['user_name']) ?></td>
                        <?php endif ?>
                        <td><?= $this->html($purchase['product_name']) ?></td>
                        <td><?= $this->html($purchase['timestamp']) ?></td>
                        <td><?= $this->html($purchase['amount']) ?></td>
                        <td><?= $this->html($purchase['size']) ?></td>
                        <td><?= $this->html($purchase['colour']) ?></td>
                        <td><?= $this->html($purchase['remarks']) ?></td>
                        <td class="text-right">
                            <ul class="list-inline">
                                <?php /* if ($purchase['status'] != 0  && ( empty($purchase['product_deadline']) || (new DateTime()) < date_create_from_format('Y-m-d H:i:s', $purchase['product_deadline']) ) ): ?>
                                    <li>
                                        <a href="orders.php?view=cancel&id=<?= $purchase['id'] ?>"  data-popup="modal">cancel</a>
                                    </li> */ ?>
                                <?php if ($purchase['status'] == 0): ?>
                                    <li>
                                        <span class="label label-default">Cancelled</span>
                                    </li>
                                <?php endif ?>
                                <?php if ($mode === 'admin'): ?>
                                    </li>
                                        <a href="orders.php?view=update&id=<?= $purchase['id'] ?>">edit</a>
                                    </li>
                                <?php endif ?>
                            </ul>
                        </td>
                    </tr>
                <?php endforeach ?>
                <?php if (empty($objects)): ?>
                    <tr><td colspan="7" class="text-muted text-center">No orders found :(</td></tr>
                <?php endif ?>
            </tbody>
        </table>
    </div>
</div>
<?php $this->end() ?>
