<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="container">
    <header class="page-header">
        <h1>Shop</h1>
        <div class="controls">
            <?php if (!empty(get_user())): ?>
                <a class="btn btn-default" href="orders.php">Orders</a>
            <?php endif ?>
            <a class="btn btn-default" href="index.php?view=purchase" data-popup="modal">Cart (<?= $cart->count_items() ?>)</a>
        </div>
    </header>

    <div class="shop-products">
        <?php foreach ($objects as $product): ?>
            <div class="product">
                <h3 class="name"><?= $this->html($product['name']) ?></h3>
                <div class="price">€ <?= $this->html(number_format($product['price'],2)) ?></div>

                <?php if (is_numeric($product['available_amount']) && $product['available_amount'] - $product['orders'] > 0): ?>
                    <div class="stock"><?= $this->html($product['available_amount'] - $product['orders']) ?> items left</div>
                <?php elseif (is_numeric($product['available_amount'])): ?>
                    <div class="stock unavailable">Out of stock :(</div>
                <?php endif ?>

                <?php if (!empty($product['deadline']) && (new DateTime()) < date_create_from_format('Y-m-d H:i:s', $product['deadline']) ): ?>
                    <div class="deadline">Order before <?= date('Y-m-d H:i', strtotime($this->html($product['deadline']))) ?></div>
                <?php elseif (!empty($product['deadline'])): ?>
                    <div class="deadline unavailable">The order deadline has lapsed :(</div>
                <?php endif ?>

                <div class="controls">
                    <a href="index.php?view=add&id=<?= $this->attr($product['id']) ?>" class="btn btn-success" data-popup="modal">More info</a>
                </div>
            </div>
        <?php endforeach ?>
    </div>
    <?php if (empty($objects)): ?>
        <div class="text-muted text-center">No products found :(</div>
    <?php endif ?>
</div>
<?php $this->end() ?>
