<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="modal static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Shopping cart</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-cart">
                    <thead>
                        <th>Product</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th></th>
                    </thead>
                    <tbody>
                    <?php foreach ($cart->get_items() as $id => $purchase): ?>
                        <tr>
                            <td>
                                <?= $this->html($purchase['product']['name']) ?>
                                <?php if (!empty($purchase['size'])): ?>
                                    &ndash;
                                    size: <?= $this->html($purchase['size']) ?>
                                <?php endif ?>    
                                <?php if (!empty($purchase['colour'])): ?>
                                    &ndash;
                                    colour: <?= $this->html($purchase['colour']) ?>        
                                <?php endif ?>    
                            </td>
                            <td>
                                <?= $this->html($purchase['amount']) ?>
                            </td>
                            <td>
                                € <?= $this->html(number_format($purchase['product']['price'], 2)) ?>
                            </td>
                            <td>
                                € <?= $this->html(number_format($purchase['product']['price'] * $purchase['amount'], 2)) ?>
                            </td>
                            <td class="text-right">
                                <form action="?view=delete&id=<?= $this->attr($id) ?>" method="POST">
                                    <button type="submit" class="btn btn-link" aria-label="Remove from cart">
                                        <i class="fa fa-fw fa-trash" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    <?php endforeach ?>
                    <?php if (empty($cart->get_items())): ?>
                        <tr>
                            <td colspan="5" class="text-muted text-center">
                                Your shopping cart is empty
                            </td>
                        </tr>
                    <?php endif ?>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="3">Total</th>
                            <th>
                                € <?= number_format(array_reduce( $cart->get_items(), function($carry, $item) {
                                        return $carry + $item['product']['price'] * $item['amount'];
                                    }, 0),2) ?>
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <form method="post" action="<?= $_SERVER['REQUEST_URI'] ?>" class="form">
                <?php if (!empty($cart->get_items())): ?>
                    <div class="modal-body">
                        <h4>Your details</h4>
                        
                        <?php if (!empty($form->render_data_source_message())): ?>
                            <div class="alert alert-info alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <?= $form->render_data_source_message() ?>
                            </div>
                        <?php endif ?>

                        <?php foreach ($form->get_fields() as $fieldname => $field): ?>
                            <?php if ($fieldname === 'accept_terms'): ?>                
                                <div class="checkbox <?= empty($form->get_field('accept_terms')->errors) ? '' : 'has-error' ?>">
                                    <label>
                                        <?= $form->get_field('accept_terms')->render() ?>
                                        I have read and accepted the <a href="/terms.php" target="_blank">terms and conditions</a>
                                    </label>
                                </div>
                            <?php else: ?>
                                <?= $form->render_field($fieldname) ?>
                            <?php endif ?>
                        <?php endforeach ?>
                    </div>
                <?php endif ?>
                <div class="modal-footer">
                    <a href="/shop/index.php" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <?php if (!empty($cart->get_items())): ?>
                        <button type="submit" class="btn btn-primary">Purchase</button>
                    <?php endif ?>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<?php $this->end() ?>
