<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="container container-narrow">
    <?php if ($status === 'success'): ?>
        <h1>Success!</h1>
        <p class="happy-message">
            We have received your order and have sent you a confirmation email!
        </p>
        <?php if(!empty(get_user()['url'])): ?>
            <p>
                You can view and/or change your order through this personal link <a href="<?= $this->attr(SERVER_NAME . '/user/?token=' . get_user()['url'] ) ?>"><?= $this->html(SERVER_NAME . '/user/?token=' . get_user()['url'] ) ?></a>, do not share it. You can also use this link to register for activities or purchase other products.
            </p>
        <?php endif ?>
    <?php else: ?>
        <h1>Oh dear! Something went wrong :(</h1>
        <p>
            <?= $this->format_plain_text($message) ?>
        </p>
        <p>
            Please contact the <a href="mailto:lustrumcee@svcover.nl">LustrumCee</a>!
        </p>
    <?php endif ?>
</div>
<?php $this->end() ?>
