<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="modal static" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="<?= $_SERVER['REQUEST_URI'] ?>" class="form product-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                       <?= $this->html($object['name']) ?>
                    </h4>
                </div>
                <div class="modal-body product">
                    <div class="price">€ <?= $this->html(number_format($object['price'],2)) ?></div>

                    <?php if (is_numeric($object['available_amount']) && $object['available_amount'] - $object['orders'] > 0): ?>
                        <div class="stock"><?= $this->html($object['available_amount'] - $object['orders']) ?> items left</div>
                    <?php elseif (is_numeric($object['available_amount'])): ?>
                        <div class="stock unavailable">Out of stock :(</div>
                    <?php endif ?>

                    <?php if (!empty($object['deadline']) && (new DateTime()) < date_create_from_format('Y-m-d H:i:s', $object['deadline']) ): ?>
                        <div class="deadline">Order before <?= date('Y-m-d H:i', strtotime($this->html($object['deadline']))) ?></div>
                    <?php elseif (!empty($object['deadline'])): ?>
                        <div class="deadline unavailable">The order deadline has lapsed :(</div>
                    <?php endif ?>
                    
                    <div class="description">
                        <?= $this->format_plain_text($object['description']) ?>
                    </div>

                <?php if ((!is_numeric($object['available_amount']) || $object['available_amount'] - $object['orders'] > 0) 
                    && (empty($object['deadline']) || (new DateTime()) < date_create_from_format('Y-m-d H:i:s', $object['deadline']))): ?>
                    <hr>
                    <?php foreach ($form->get_fields() as $fieldname => $field): ?>
                        <?= $form->render_field($fieldname) ?>
                    <?php endforeach ?>
                <?php endif ?>

                </div>
                <div class="modal-footer">
                    <a href="/shop/index.php" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <?php if ((!is_numeric($object['available_amount']) || $object['available_amount'] - $object['orders'] > 0) 
                        && (empty($object['deadline']) || (new DateTime()) < date_create_from_format('Y-m-d H:i:s', $object['deadline']))): ?>
                        <button type="submit" class="btn btn-success">Add to cart</button>
                    <?php endif ?>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<?php $this->end() ?>
