<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><?= $this->html($name) ?> asked question about "<?= $this->html($subject) ?>"</title>
    <style>
    body {
        font: 13px/16px sans-serif;
    }
    </style>
</head>
<body>
    <p><?= $this->html($name) ?> asked question about "<?= $this->html($subject) ?>"</p>
    <?= $this->format_plain_text($question) ?>
    <hr>
    <p>Reply to this email to respond.</p>
</body>
</html>
