<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="modal static" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="<?= $_SERVER['REQUEST_URI'] ?>" class="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        Free activities for <?= $this->html($object['name']) ?>
                    </h4>
                </div>
                <div class="modal-body">
                    <p>
                        With the <?= $this->html($object['name']) ?>, you are granted free access to the following activities. You do need to sign up first, though!
                    </p>
                    <ul>
                        <?php foreach ($activities as $activity): ?>
                            <li>
                                <?= $this->html($activity['details']->kop) ?> &ndash; <?= $this->html(date_format(date_create($activity['details']->van), 'Y-m-d H:i')) ?>
                            </li>
                        <?php endforeach ?>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a href="/activity/index.php" class="btn btn-default" data-dismiss="modal">Cancel</a>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<?php $this->end() ?>
