<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="container container-narrow">
    <header class="page-header">
        <h1><?= $this->html($object['name']) ?> activities</h1>
    </header>
    <form method="post" action="<?= $_SERVER['REQUEST_URI'] ?>" class="form">
        <div class="form-group <?= !empty($errors) ? 'has-error' : '' ?>">
            <label for="activity[]">Activities (multiselect)</label>
            <select class="form-control" name="activity[]" multiple size="10">
                <?php foreach ($activities as $activity): ?>
                    <option value="<?= $this->attr($activity['id']) ?>" <?php if(in_array($activity['id'], $pp_activities)): ?>selected<?php endif ?>>
                        <?= $this->html($activity['details']->kop) ?> &ndash; <?= $this->html(date_format(date_create($activity['details']->van), 'Y-m-d H:i')) ?>
                    </option>
                <?php endforeach ?>
            </select>
            <?php foreach ($errors as $error): ?>
                <span class="help-block">
                    <?= $this->html($error) ?>
                </span>
            <?php endforeach ?>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>
<?php $this->end() ?>
