<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="container">
    <header class="page-header">
        <h1>Passe-partouts</h1>
        <div class="controls">
            <a class="btn btn-default" href="purchases.php">Purchases</a>
            <a class="btn btn-primary" href="admin.php?view=create">Add</a>
        </div>
    </header>

    <div class="table-responsive"> 
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Allowed types</th>
                    <th>Price</th>
                    <th>Available</th>
                    <th>Registered</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($objects as $passe_partout): ?>
                    <tr class="<?= $passe_partout['active'] == 0 ? 'text-muted' : '' ?>">
                        <td><?= $this->html($passe_partout['name']) ?></td>
                        <td><?= $this->html($passe_partout['allowed_types']) ?></td>
                        <td>€ <?= $this->html(number_format($passe_partout['price'],2)) ?></td>
                          <td>
                            <?php if (is_numeric($passe_partout['available_amount'])): ?>
                                <?= $this->html($passe_partout['available_amount'] - $passe_partout['registrations']) ?>
                                /
                                <?= $this->html($passe_partout['available_amount']) ?>
                            <?php else: ?>
                                unlimited
                            <?php endif ?>
                        </td>
                        <td><?= $this->html($passe_partout['registrations']) ?></td>
                        <td class="text-right">
                            <ul class="list-inline">
                                <li>
                                    <a href="activities.php?view=create&id=<?= $passe_partout['id'] ?>">activities</a>
                                </li>
                                <li>
                                    <a href="admin.php?view=update&id=<?= $passe_partout['id'] ?>">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                <?php endforeach ?>
                <?php if (empty($objects)): ?>
                    <tr><td colspan="6" class="text-muted text-center">No passe partouts found :(</td></tr>
                <?php endif ?>
            </tbody>
        </table>
    </div>
</div>
<?php $this->end() ?>
