<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="modal static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Purchase passe-partout</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-cart">
                    <thead>
                        <th>Name</th>
                        <th>Price</th>
                    </thead>
                    <?php if (empty($object)): ?>
                        <tbody>
                            <tr>
                                <td colspan="3" class="text-muted text-center">
                                    No passe-partout selected
                                </td>
                            </tr>
                        </tbody>
                    <?php else: ?>
                        <tbody>
                            <tr>
                                <td><?= $this->html($object['name']) ?></td>
                                <td>€ <?= number_format($this->html($object['price']),2) ?></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Total</th>
                                <th>€ <?= number_format($this->html($object['price']),2) ?></th>
                            </tr>
                        </tfoot>
                    <?php endif ?>
                </table>
            </div>
            <form method="post" action="<?= $_SERVER['REQUEST_URI'] ?>" class="form">
                <div class="modal-body">
                    <h4>Your details</h4>
                    
                    <?php if (!empty($form->render_data_source_message())): ?>
                        <div class="alert alert-info alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <?= $form->render_data_source_message() ?>
                        </div>
                    <?php endif ?>

                    <?php foreach ($form->get_fields() as $fieldname => $field): ?>
                        <?php if ($fieldname === 'accept_terms'): ?>                
                            <div class="checkbox <?= empty($form->get_field('accept_terms')->errors) ? '' : 'has-error' ?>">
                                <label>
                                    <?= $form->get_field('accept_terms')->render() ?>
                                    I have read and accepted the <a href="/terms.php" target="_blank">terms and conditions</a>
                                </label>
                            </div>
                        <?php else: ?>
                            <?= $form->render_field($fieldname) ?>
                        <?php endif ?>
                    <?php endforeach ?>
                </div>
                <div class="modal-footer">
                    <a href="/activity/index.php" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-primary">Purchase</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<?php $this->end() ?>
