<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="container">
    <header class="page-header">
        <h1>Passe-partout purchases</h1>
    </header>

    <div class="table-responsive"> 
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Passe Partout</th>
                    <th>Purchase date & time</th>
                    <th>Remarks</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($objects as $purchase): ?>
                    <tr>
                        <td><?= $this->html($purchase['user_name']) ?></td>
                        <td><?= $this->html($purchase['passe_partout_name']) ?></td>
                        <td><?= $this->html($purchase['timestamp']) ?></td>
                        <td><?= $this->html($purchase['remarks']) ?></td>
                        <td class="text-right">
                            <ul class="list-inline">
                                </li>
                                    <a href="purchases.php?view=delete&id=<?= $purchase['id'] ?>" data-popup="modal">delete</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                <?php endforeach ?>
                <?php if (empty($objects)): ?>
                    <tr><td colspan="5" class="text-muted text-center">No passe-partout purchases found :(</td></tr>
                <?php endif ?>
            </tbody>
        </table>
    </div>
</div>
<?php $this->end() ?>
