<?php $this->extends('layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="container-narrow">
    <section>
    <h1>Committee</h1>
    <div class="committee">
        <img src="static/img/space.png" alt="Committee">
        This is the Lustrum Committee. We will make sure that the coming lustrum in September is going to be super awesome! We are a group of individuals with different personalities. If you are curious you can read about them below. 
    </div>
    </section>

    <section>
        <h1>Committee Members</h1>
        <div class="person">
            <img src="static/img/awesome.GIF" alt="Person" width="96" height="96">
            <h1>Niek Naber</h1>
            <h2>Chairman</h2>
            This is Niek, our great chief in command. Besides ordering people around he mostly likes to act weird such that Max can makes GIFs of it. Furthermore he tries to combine two contradicting lifestyles, namely sporting and partying. Sometimes it works out, sometimes it results in him being hangover all day. Niek is very efficient with his time, he focuses one day and chills the rest of the week. But he is a good chief good chairman almost always happy.
        </div>

        <div class="person" id="odd">
            <img src="static/img/robin2.gif" alt="Person" width="96" height="96">
            <h1>Robin Twickler</h1>
            <h2>Vice Chairman</h2>
            Robin might be small, she is also one of the biggest workers. She tends to take on a lot of work at once. As fast as Robin can work sometimes, as slow can she walk. With her high heels and little legs her walking speed is not much faster than your average toddler. Luckily, walking is not something she needs to do quite often in the LustrumCee. Robin is a great vice-chair!
        </div>

        <div class="person">
            <img src="static/img/ingeborg2.gif" alt="Person" width="96" height="96">
            <h1>Ingeborg van Keulen</h1>
            <h2>Secretary</h2>
            Ingeborg is the sweetest secretary that you’ll meet, however she sometimes shows a different side of her in the minutes. We think she learned that during her BEST year... Just as Vivien she likes climbing the high mountains at Aclo. And unlike Robin, Ingeborg likes her boys old.
        </div>

        <div class="person" id="odd">
            <img src="static/img/marieke2.gif" alt="Person" width="96" height="96">
            <h1>Marieke Kopmels</h1>
            <h2>Treasurer</h2>
            She may be the youngest from the group, but do not get fooled. She comes from the big, scary city called Amsterdam. With great responsibility she deals with money matters that few could handle. She likes to defy fierce waters and bottles of Smirnoff ice. Next she also loves to care for horses and dogs, even though she is allergic to them. Hereby I have described to you, the marvelous, meticulous and magnificent Marieke.
        </div>

        <div class="person">
            <img src="static/img/famke2.gif" alt="Person" width="96" height="96">
            <h1>Famke Meester</h1>
            <h2>General Member</h2>
            Famke is one of the real HEROes of the committee. She has a part-time job in one of our most loved supermAHrkets. And always brings live to our committeemeetings via hard liquor and stories of how she acquired her shot glasses.
        </div>

        <div class="person" id="odd">
            <img src="static/img/max2.gif" alt="Person" width="96" height="96">
            <h1>Maximillian Velich</h1>
            <h2>General Member</h2>
            Okay so I didn’t really know much about you, but did my best haha: Max is a very enthusiastic member with the most amazing ideas (not always realistic, but we appreciate the input). He always makes GIFs of everyone, apparently hates Marieke and can not pronounce ‘Ingeborg’. Great Apple lover btw.
        </div>

        <div class="person">
            <img src="static/img/vivien2.gif" alt="Person" width="96" height="96">
            <h1>Vivien van Dongen</h1>
            <h2>General Member</h2>
            Not necessarily complimentory you could describe Vivien as a searching spirit, a wandering mind, and a witty provocateur. Unfortunately, she would take it all as flattery. Her renowned rudimentary requirement revolves around regular rapid repetitive relocation. If you think the amount of Rs in the previous sentence is high, then you have not seen the amount of hours Vivien spends on both sports and travelling. It seems like, she tries to COVER the full SURFACE. Linguistics aside, she also studies AI and makes damn good salmon lasagne.
        </div>
    </section>
</div>
<?php $this->end() ?>
