<?php $this->extends('layout.phtml') ?>

<?php $this->begin('content') ?>
<div>
    <section class="container-narrow hero">
        <img src="static/img/logo-white-low.png" alt="Committee" class="logo">
    </section> 
    <div class="fronttext"> 
        <section class="container-narrow">
            <!-- <h1>Passe-Partout Sale starts at noon, Tuesday 12th of June</h1>
            <p>
                On Wednesday the 12th of June, at 12 o'clock noon, we will start with the sale of the passe-partouts. If you buy a passe-partout, it will give you free acces to activities of the lustrum. There are 2 different passe-partouts, a gold and platinum passe-partout. The gold passe-partout will give you free acces to all activities but the 5^2 feast whereas the platinum passe-partout gives you free acces to all activities. Note that there are only 40 platinum passe-partouts! Make sure to order one in time!
            </p> -->
            <h1>Lustrum V</h1>
            <p>
                Welcome to the site of the fifth lustrum of study association Cover. For those of you who don't know what a lustrum is: a lustrum is a celebration of every fifth birthday of an association. So, at this years lustrum we will celebrate the 25th birthday of Cover. The lustrum will be a whole week of several fun activities, party activities, serious career activities, and relax activities. During the week, we will take you on a journey to explore and COVER the world. The lustrum will take place from the 17th of september until the 21st of september.
            </p>
            <p>
                On this site we will keep you updated about the lustrum, the activities and other important stuff. Please also check the committee page to find out more about the awesome committee who is organizing the lustrum. 
            </p>

            <h1>The Photo Challenge</h1>

            <p>
                As you travel throughout the week, you obviously are in dire need to collect as many souvenirs as you possible can – how else would you share the moments of pure euphoria with your confidantes? At the end of the week you will find yourself littered with stunning pieces of unadulterated creativity. However, what are those pictures worth – those unique inspiring frames of memory - if they are not the best in class? 
            </p>

            <p>
                We challenge you to shoot the very best. At the end of the week, we want you to filter through your pictures of the Lustrum week, and select the best one for each day. You will have a cunning album of five drastically glamorous pictures that you can stack against your fellow Lustrum travellers. The album with the best pictures will win a prize! 
            </p>

            <p>
                The rules are simple: Every picture of the five in total has to be from one day during the Lustrum week. They do not have to be taken during a Lustrum event, but should have something to do with Cover, or the Lustrum itself. They can depict anything you like: funny moments, cool scenarios, or just creative shots. You can work on your own, or create the perfect album with your friends (or enemies idk).
            </p>

            <p>
                On Friday, before our Space Gala, we will select the top three albums – containing only four pictures at this point. The LustrumCee will pick the candidate albums that best represent the week. The nominee then has time during the last Lustrum event to shoot the winning final piece of the album. Finally, the winner will be announced on our website after the committee has decided. 
            </p>

            <p>
                You all have a stellar camera in your smartphone already! So what are you waiting for? Go out there and shoot some shit!
            </p>
        </section>
    </div>
</div>
<?php $this->end() ?>
