<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobileoptimized" content="0">
    <title><?php if (!empty($title)):?><?= $title ?> &mdash; <?php endif ?> LustrumCee Cover</title>

    <!-- Include stylesheets -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="//cdl.svcover.nl/dist/v0.1/css/cdl.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css">
    <?= !empty($styles) ? $styles : ''?>
</head>
<body>
    <!-- Top navigation bar -->
    <nav class="navbar navbar-cover">
        <div class="container-fluid">
            <!-- Branding -->
            <div class="navbar-header">
                <!-- Collapse button -->
                <button class="navbar-toggle collapsed navicon-button" href="#navbar-main-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="navbar-main-collapse">
                    <span class="navicon navicon-white"></span>
                </button>
                <!-- Cover branding -->
                <a class="navbar-logo" href="//www.svcover.nl/"><img src="//cdl.svcover.nl/dist/v0.1/img/cover.png" alt="Cover"></a>
                <!-- Lustrum branding -->                <a class="navbar-logo" href="/"><img src="/static/img/logo-red-right.png" alt="Hello World"></a>
            </div>
            <!-- Navigation menu -->
            <div class="collapse navbar-collapse" id="navbar-main-collapse">
                <ul class="navbar-right">
                    <li  <?php if ($page_id == 'activity'): ?>class="active"<?php endif ?>>
                        <a href="/activity/index.php">Activities</a>
                    </li>
                    <li  <?php if ($page_id == 'shop'): ?>class="active"<?php endif ?>>
                        <a href="/shop/">Shop</a>
                    </li>
                    <li  <?php if ($page_id == 'committee'): ?>class="active"<?php endif ?>>
                        <a href="/committee.php">Committee</a>
                    </li>
                    <li  <?php if ($page_id == 'contact'): ?>class="active"<?php endif ?>>
                        <a href="/contact.php">Contact</a>
                    </li>
                    <!-- Cover session -->
                    <?php if(get_session_type() === 'anonymous'): ?>
                        <li><a href="<?= cover_login_url() ?>">Log in</a></li>
                    <?php else: ?>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <?php if (cover_session_in_committee(ADMIN_COMMITTEE)): ?>
                                    <li class="dropdown-header">Admin</li>
                                    <li><a href="/user/admin.php">Users</a></li>
                                    <li><a href="/activity/admin.php">Activities</a></li>
                                    <li><a href="/passe_partout/admin.php">Passe-partouts</a></li>
                                    <li><a href="/shop/admin.php">Shop</a></li>
                                    <li role="separator" class="divider"></li>
                                <?php endif ?>
                                <li class="dropdown-header">
                                    Logged in as
                                    <?php if(empty(get_user())): ?>
                                        <?= $this->html(get_cover_session()->voornaam) ?>
                                    <?php else: ?>
                                        <?= $this->html(get_user()['name']) ?>
                                    <?php endif ?>
                                </li>
                                <li><a href="/user/">Your information</a></li>
                                <li><a href="/terms.php">Terms and conditions</a></li>
                                <li><a href="/user/?view=logout&next=<?= $this->attr(SERVER_NAME . $_SERVER['REQUEST_URI'])?>">Logout</a></li>
                            </ul>
                        </li>
                    <?php endif; ?>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Insert rendered content -->
    <?= $content ?>

    <!-- Ìnclude scripts -->
    <script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/static/js/dialog.js"></script>
    <?= !empty($scripts) ? $scripts : '' ?>
</body>
</html>
