<?php $this->extends('layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="container-narrow">
    <section>
        <h1>Partners</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni provident numquam adipisci quasi ad facilis doloribus repellat facere deleniti odit aperiam inventore culpa voluptate, qui quae consectetur laboriosam eveniet repudiandae praesentium, id placeat dolor iure iusto. Impedit, doloribus! Accusamus sit, aperiam possimus impedit itaque vitae blanditiis placeat officiis cumque facere.</p>
        <p>Laudantium repellendus expedita iure voluptate at reiciendis cupiditate accusantium, dolores dicta fugiat illo velit, delectus minus quam labore optio aspernatur laborum! Corporis assumenda ea, doloremque quibusdam eum est laudantium suscipit quidem dolorem, voluptates eos fugiat nulla in a atque. Ut architecto eveniet optio consequuntur alias, ducimus quasi fugiat beatae odit!</p>
        <p>Esse ab optio, asperiores distinctio fugiat adipisci ipsam omnis expedita eaque maxime, qui incidunt quasi? Dignissimos iusto adipisci modi aut at error explicabo repellat consequuntur? Voluptas delectus vero, nesciunt sequi quam officia animi repudiandae inventore facere iste dicta nostrum consequatur, obcaecati eum dignissimos omnis quaerat alias nobis, aspernatur et vitae!</p>
        <p>Provident aliquid praesentium, deserunt debitis fuga non, labore beatae accusamus magni nobis placeat molestiae, necessitatibus expedita? Commodi quos iste quidem numquam esse asperiores, voluptate libero atque illum. Error reiciendis impedit, officia eaque est illo suscipit molestias ut amet maiores assumenda consequuntur laudantium placeat alias ducimus commodi inventore odit ipsa nihil?</p>
    </section>
</div>
<?php $this->end() ?>
