<?php $this->extends('layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="container container-narrow">
    <h1>Terms and conditions</h1>

    <p>These are the terms and conditions for the 5th lustrum activity week (from now on lustrum) of Cover:</p>
    <address>
        <strong>Postal addres</strong><br>
        Studievereniging Cover<br>
        Postbus 407<br>
        9700 AK Groningen<br>
        the Netherlands
    </address>

    <address>
        <strong>Visitors address</strong><br>
        Nijenborgh 9<br>
        Room 041a<br>
        9747 AG Groningen<br>
        the Netherlands
    </address>

    <p>The lustrum will take place in the week of 17th till 23rd of September 2018 and is organised by the lustrum committee (from now on: LustrumCee).</p>
    <p>Sign-ups for the lustrum are found on LustrumCee.svcover.nl (from now on: the website)</p>
    <p>The following terms and conditions apply to all purchases on this website:</p>

    <h2>Tickets</h2>
    <p>A ticket is a document that the participant can download from the website as proof of registration. Tickets can be bought on the website.</p>
    <p>The following terms and conditions are valid on all types of tickets sold on this website for activities during the lustrumweek :</p>
    <ol>
        <li>No exchange of tickets will be made under any circumstances and tickets are not transferable.</li>
        <li>No refund on tickets will be made under any circumstances, after the 23rd of august, 2018.</li>
        <li>The resale of tickets is prohibited. The LustrumCee reserves the right to cancel any tickets that havebeen resold.</li>
        <li>Lost ticket(s) will not be entertained.</li>   
        <li>In order to receive a ticket the participant will have to sign up on the website. There the participant can also find an overview of the activities the participant signed up for. The email confirmation counts as having a ticket.</li>   
        <li>The passe partout ticket sale will start in the 23rd week of 2018. The single activity ticket sale willstart the 30th of August 23:59.</li>
        <li>The participant can only buy tickets as a member of Cover. Membership status at the time of purchasing theticket counts towards this rule.</li>
        <li>Any external people can only buy tickets with permission of the LustrumCee, or when they are part</li>
        <li>of a specific described target audience for a ticket.</li>
        <li>If an activity can not take place due to some unforeseen reason, the LustrumCee will look for anacceptable alternative.</li>   
    </ol>

    <h2>Passe partout</h2>
    <ol>
        <li>No ticket will be downgraded under any circumstances.</li>
        <li>Tickets can be upgraded, providing that there is enough availability and with permission of the LustrumCee. The participant can file a request for this via LustrumCee@svcover.nl</li>
        <li>A passe-partout does not give unconditional acces to every activity, it only grants free entrance if the participant sign up for a specific activity. The participant still have to sign up on the website for each activity that the participant want to participate in.</li>
        <li>Single activity sign up for passe-partout owners open in the 23rd week of 2018. Which means they can sign up earlier. After the 30th of August there is no more priority in sign ups for passe partout owners</li>
    </ol>

    <h2>Merchandise</h2>
    <ol>
        <li>When signing up for merchandise the participant agree to buy the product and pay the respective amount.</li>
        <li>The prices on the website are a maximum price. If there are enough sign-ups the price might lower.</li>
        <li>All purchases are non-refundable, after the 23rd of august, 2018.</li>
    </ol>

    <h2>Payments</h2>
    <ol>
        <li>Payments will be done via a SEPA direct debit</li>
        <li>By agreeing to these terms and conditions the participant will allow Cover to withdraw the money from the participants bank account.</li>
        <li>The credit identifier of Cover is NL48ZZZ400267070000.</li>
        <li>In case the participant do not agree to the debit, the participants own bank will be able to cancel within 30 days after the collection.</li>
        <li>The total amount will be withdrawn in the last week of September.</li>
    </ol>

    <h2>Data</h2>
    <ol>
        <li>The LustrumCee will only collect the data which the participant fills out in the forms on the website or public data on the Cover website.The LustrumCee will not gather any other data.</li>
        <li>The LustrumCee use the data for the purpose of withdrawing entrance fees, estimating attendees and taking into account dietary wishes.</li>
        <li>Cover shares the data with Conscribo, the accounting software used by Cover, to process the payment.</li>
        <li>The LustrumCee will keep the data for 7 years, according to the Dutch law on financial records.</li>
        <li>The participant can request an insight in the participants data or removal of the participants data via a formal written request if the participant’re above 16 years old. The participant can do this according to the information on 
            https://autoriteitpersoonsgegevens.nl/nl/zelf-doen/privacyrechten/recht-op-inzage</li>
    </ol>

    <h2>General</h2>
    <ol>
        <li>If the board of Cover or the LustrumCee decide that extenuation circumstances are in place, exemptions on these terms and conditions can be made. </li>
        <li>The LustrumCee reserves the right to refuse admission without refund or compensation to any persons whose conduct is disorderly or unbecoming.</li>
        <li>The ticket owner voluntarily assumes all risk and danger incidental to the event whether occurring prior to, during or subsequent to the actual event, including any death, personal injury, loss, damage or liability.</li>
        <li>Purchasers of tickets who are under 18 years of age should seek parental consent before purchasing tickets/merchandise from our website. </li>
        <li>Any complaints regarding the activities will be directed to and dealt with by the LustrumCee.</li>
    </ol>
</div>
<?php $this->end() ?>

