<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="container">
    <header class="page-header">
        <h1>Users</h1>
    </header>

    <div class="table-responsive"> 
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Token</th>
                    <th>Passe partout</th>
                    <th>Diet</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($objects as $user): ?>
                    <tr>
                        <td>
                            <?php if (!empty($user['cover_id'])): ?>
                                <a href="https://www.svcover.nl/profiel.php?lid=<?= $this->attr($user['cover_id']) ?>">
                                    <?= $this->html($user['name']) ?>
                                </a>
                            <?php else: ?>
                                <?= $this->html($user['name']) ?>
                            <?php endif ?>
                        </td>
                        <td><?= $this->html(get_model('User')::$type_options[$user['type']]) ?></td>
                        <td><?= $this->html($user['email']) ?></td>
                        <td><?= $this->html($user['phone']) ?></td>
                        <td><?= $this->html($user['url']) ?></td>
                        <td><?= $this->html($user['passe_partout_name']) ?></td>
                        <td><?= $this->html($user['diet']) ?><</td>
                        <td class="text-right">
                            <ul class="list-inline">
                                <li>
                                    <a href="/user/admin.php?view=update&id=<?= $user['id'] ?>">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                <?php endforeach ?>
                <?php if (!$objects): ?>
                    <tr><td colspan="7" class="text-muted text-center">No users found :(</td></tr>
                <?php endif ?>
            </tbody>
        </table>
    </div>
</div>
<?php $this->end() ?>
