<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="container container-narrow">
        
    <header class="page-header">
        <?php if (empty($user)): ?>
            <h1>Hi!</h1>
        <?php else: ?>
            <h1>Hi <?= $this->html($user['name']) ?>!</h1>
        <?php endif ?>
    </header>
    <?php if (empty($user)): ?>
        <p>
            We don't have any data of you. That probably means that you haven't made any purchase in our shop or haven't registered for any activities. If you think this is not correct, please contact the LustrumCee.
        </p>
    <?php else: ?>
        <p>
            Not <?= $this->html($user['name']) ?>? <a href="?view=logout">Logout</a>
        </p>
        <h3>Your details</h3>
        <?php if ($session_type === 'token'): ?>
            <p>
                Some details have been hidden for your privacy, you can find them in your latest confirmation email. Please contact the LustrumCee if you want to change them.
            </p>
        <?php endif ?>
        <table class="table">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td><?= $this->html($user['name']) ?></td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td><?= $this->html($user['type']) ?></td>
                </tr>
                <?php if ($session_type !== 'token'): ?>
                    <tr>
                        <th>Address</th>
                        <td><?= $this->html($user['address']) ?></td>
                    </tr>
                    <tr>
                        <th>Postal code</th>
                        <td><?= $this->html($user['postal_code']) ?></td>
                    </tr>
                    <tr>
                        <th>Place of residence</th>
                        <td><?= $this->html($user['city']) ?></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td><?= $this->html($user['email']) ?></td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td><?= $this->html($user['phone']) ?></td>
                    </tr>
                    <tr>
                        <th>IBAN</th>
                        <td><?= $this->html($user['iban']) ?></td>
                    </tr>
                    <tr>
                        <th>BIC</th>
                        <td><?= $this->html($user['bic']) ?></td>
                    </tr>
                <?php endif ?>
                <tr>
                    <th>Dietary restrictions</th>
                    <td><?= $this->html($user['diet']) ?></td>
                </tr>
                <?php if ($session_type === 'token'): ?>
                    <tr>
                        <th>Your personal url</th>
                        <td><a href="<?= $this->attr(SERVER_NAME . '/user/?token=' . $user['url']) ?>"><?= $this->html(SERVER_NAME . '/user/?token=' . $user['url']) ?></a></td>
                    </tr>
                <?php endif ?>
            </tbody>
        </table>
        <h3>Your purchases & registrations</h3>
        <?php if (empty($user['passe_partout_id'])): ?>
            <p>You don't own a passe-partout.</p>
        <?php else: ?>
            <p>Your passe-partout: <?= $this->html($user['passe_partout_name']) ?></p>
        <?php endif ?>
        <p>
            <a href="/activity/registrations.php">Your registrations</a>
        </p>
        <p>
            <a href="/shop/orders.php">Your merchandise orders</a>
        </p>
    <?php endif ?>
</div>
<?php $this->end() ?>
